/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.title {
  color: var(--title-color-primary, #db00ff);
  font-size: 116px;
  text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
  line-height: 95.7px;
}

.title-accent {
  background-color: var(--accent-color,#ff0070);
  color: var(--title-color-tertiary, #000028);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.5px;
}

.title-decor { 
  display: none;
}

.page {
  inline-size: 100%;
  background: var(--bg-image) no-repeat center center;
  background-attachment: fixed;
  font-family: var(--title-font, sans-serif);
  font-size: 18px;
  line-height: 24px;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  inline-size: 100%;
  min-block-size: 100svmax;
  padding-block: 20px;
  padding-inline: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before, .decorated-zone::after {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color, ff0070);
  border-block-start: 1px solid var(--decor-color, ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color, ff0070);
  border-block-end: 1px solid var(--decor-color, ff0070);
}

.page:not(.theme_light) .title-decor {
  display: block;
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--decor-color, #ff0070);
  text-transform: uppercase;
  line-height: 25px;
}

.title-decor::after {
  position: absolute;
  content: "";
  top: 8px;
  right: -19px;
  background: var(--decor-color, #ff0070);
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.header__theme-menu-button {
  padding: 3px 13px;
  border: 1px solid transparent;
  cursor: pointer;
  background: transparent;
  color: var(--theme-menu-button-color, );
  font-family: var(--title-font, sans-serif);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border-block-end: 1px solid var(--border-color-active, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: var(--border-color-active, rgb(255 0 112 / 0.4));
}

.section {
  margin-block-start: 40px;
  padding-inline: 10px;
}

.section:not(:last-of-type) {
  margin-block-end: 50px;
}

.section__title {
  color: var(--title-color-secondary, #ff0070);
  font-size: 18px;
}

.content__title {
  margin-block-start: 20px;
}

.content__text {
  margin-block-start: 10px;
  color: var(--text-color, #f1b2ce);
  line-height: 23.4px;
}

.content__link {
  display: inline-block;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  border-block-end: 1px solid transparent;
  text-decoration: none;
  line-height: 17px;
}

.content__link:hover {
  border-color: currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.group-content__title {
  font-weight: normal;
}

.content__picture {
  display: block;
  margin-block-start: 10px;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  inline-size: 100%;
  min-block-size: 100dvh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);  
}

@media (orientation: landscape) {

  .header {
    min-block-size: 100svmin;
  }
}

@media (width >= 768px) {

  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__theme-menu {
    grid-column: 1 / -1;
  }

  .header__title {
    grid-column: 1 / -1;
  }

  .header__group-text {
    grid-column: span 1 / -1;
  }

  .section {
    display: grid;
    gap: 20px;
  }

  .two-column-layout {
    grid-template-columns: 1fr 2fr;
  }
  
  .content__group-picture {
    display: grid;
    margin-block-start: 20px;
  }

  .three-by-three-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .section__title {
    grid-column: 1 / span 1;
  }

  :not(.two-column-layout) .section__title {
    inline-size: max(236px);
  }

  .content__title {
    margin-block-start: 0;
  }
  
  .content__picture {
    margin-block-start: 0;
    block-size: 100%;
    
  }

  .section__content {
    grid-column: span 1 / -1;
  }

  .content__image-top-right {
    grid-column: auto / -1;
    grid-row: 1 / span 2;
  }

  .content__image-top-left {
    grid-column: 1 / span 2;
    grid-row: 1 / auto;
  }

  .content__image-bottom-left {
    grid-column: 1 / auto;
    grid-row: span 2 / -1;
  }

  .content__image-bottom-right {
    grid-column: span 2 / -1;
  }
}

